<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kritik & Saran - KARTAR PRIANGAN</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
        <div class="container">
            <div class="logo-area">
                <img src="/images/logokartar.png" alt="Logo" class="logo-img">
                <h1>KARANG TARUNA</h1>
            </div>

            <div class="hamburger" id="hamburger-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav id="nav-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/profil">Profil</a></li>
                    
                   <li class="dropdown">
    <a href="#">Berita</a>
    <ul class="dropdown-menu">
        <li><a href="/kategori/umum">Umum</a></li>
        <li><a href="/kategori/loker">Loker</a></li>
        <li><a href="/kategori/kegiatan">Kegiatan</a></li>
        <li><a href="/kos" style="color: #e74c3c; font-weight: bold;">Info Kos</a></li>
    </ul>
</li>

<li class="dropdown">
    <a href="#">Lapak Warga</a> <ul class="dropdown-menu">
        <li><a href="/lapak?kategori=Merchandise">Merchandise</a></li>
        <li><a href="/lapak?kategori=UMKM">Produk UMKM</a></li>
    </ul>
</li>



                    <li><a href="/kontak">Kontak</a></li>
                    <li><a href="/kritik">Kritik & Saran</a></li>
                    <li id="menu-admin"><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container page-content">
        <section class="form-section">
            <h2 style="text-align: center; margin-bottom: 10px;">Kritik & Saran</h2>
            <p style="text-align: center; margin-bottom: 30px; color: #666;">Suara Anda membantu kami membangun Karang Taruna yang lebih baik.</p>
            
            <div class="card-form">
                <form action="/kirim-saran" method="POST">
                    <div class="form-group">
                        <label>Nama Lengkap</label>
                        <input type="text" name="nama" placeholder="Masukkan nama Anda..." required>
                    </div>
                    <div class="form-group">
                        <label>Isi Kritik / Saran</label>
                        <textarea name="isi_saran" rows="6" placeholder="Tuliskan masukan Anda di sini..." required></textarea>
                    </div>
                    <button type="submit" class="btn-submit">Kirim Saran Sekarang</button>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2026 Karang Taruna Priangan.</p>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>